@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer {
    /*background-color: bisque;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 0.9s;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .30rem);
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.53rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #692e92;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .7rem solid #692e92;
    border-top: .8rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .8rem solid transparent;
    left: -1.3rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    line-height: 3.5rem;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, .5);
    margin-bottom: 1.1rem;
    opacity: 0;
    animation: moveText 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    font-size: 2.5rem;
    color: #ffff;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, .5);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveText 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #ffff;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: purple;
    background: #cc2b5e;  
    background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);  
    background: linear-gradient(to right, #cc2b5e, #753a88); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveText 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.7;
}

@keyframes moveText {
    0%{
        transform: translateY(10rem) rotate(-30deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.9s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    color: #753a88;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    color: rgb(107, 106, 106);
    font-size: 1.8rem;
    transition: color 0.8s;
}

.menu-link:hover {
    color: #692e92;
    text-shadow: .3rem .3rem 1px rgba(0, 0, 0, .1);
}

.social-media {
    /*background-color: red;*/
    position: absolute;    
    bottom: 2rem;    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: rgb(155, 155, 155);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    transition: color 0.8s;
}

.social-media i:hover {
    color: #692e92;
}