@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer {
    /*background-color: bisque;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 0.9s;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .30rem);
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.53rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #692e92;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .7rem solid #692e92;
    border-top: .8rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .8rem solid transparent;
    left: -1.3rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    line-height: 3.5rem;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, .5);
    margin-bottom: 1.1rem;
    opacity: 0;
    animation: moveText 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    font-size: 2.5rem;
    color: #ffff;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, .5);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveText 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #ffff;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: purple;
    background: #cc2b5e;  
    background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);  
    background: linear-gradient(to right, #cc2b5e, #753a88); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveText 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.7;
}

@keyframes moveText {
    0%{
        transform: translateY(10rem) rotate(-30deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.9s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    color: #753a88;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    color: rgb(107, 106, 106);
    font-size: 1.8rem;
    transition: color 0.8s;
}

.menu-link:hover {
    color: #692e92;
    text-shadow: .3rem .3rem 1px rgba(0, 0, 0, .1);
}

.social-media {
    /*background-color: red;*/
    position: absolute;    
    bottom: 2rem;    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: rgb(155, 155, 155);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    transition: color 0.8s;
}

.social-media i:hover {
    color: #692e92;
}

/*Grid Layout Conhecimentos*/
/*Configuração das linhas e colunas*/
.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}
/*Configuração do posicionamento */
.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos {
    background-color:#f5f5f5;
}
/*Formatação Titulo*/
.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #692e92;
    margin-bottom: 1.5rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}
/*Formatação Parágrafos*/
.conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
}
/*Posisionamento Imagem*/
.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}
/*Cards Projetos*/
.projetos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 5rem;
    
}

.card {
    width: 18rem;
    height: 24rem;    
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .4;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.4rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(233, 233, 240);
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: 700;
    color: #7a02cf;
    margin-bottom: 1rem;
}

.card-info p {
    font-family: var(--font-secundary);
    font-size: 1rem;
    font-weight: 400;
    color: rgb(240, 238, 238);
    margin-bottom: 2rem;
}

.card-info button {
    width: 8rem;
    height: 2rem;
    font-family: var(--font-action);
    font-size: .8rem;
    color: #fff;
    border-radius: .6rem;
    border: none;
    background-color: purple;
    background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);  
    background: linear-gradient(to right, #cc2b5e, #753a88);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    
}

.card-info button:hover {
    opacity: .8;
    cursor: pointer;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
/*Formatação Formulário*/
.sessao-contato {
    height: 100vh;
    width: 100%;
    background-color: #423f3f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    height: 30rem;
    width: 60%;
    display: flex;
    box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.8);
}

.contato-left {
    width: 35%;
    background: 
        linear-gradient(rgba(15,15,15, 0.6), (rgba(22,22,22, .9)))
        url(imagens/contact.jpg);
    background-size: cover;
    
}

.contato-right {
    width: 65%;
    padding: 1rem 4rem 4rem 4rem;
    background-color: #fff;
    
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    color: #272626;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px dashed #504c53;
    width: 20rem;
    height: 3rem;
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

.input-group textarea {
    padding-top: 0.2rem;
    max-width: 20rem;
    max-height: 3;
}

.input-group {
    position: relative;
}

.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-family: var(--font-secundary);
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~ label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.botao-submit {
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    font-family: var(--font-action);
    font-size: 1rem;
    color: #fff;
    border-radius: .5rem;
    border: none;
    background-color: purple;
    background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);  
    background: linear-gradient(to right, #cc2b5e, #753a88);
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}

.botao-submit:hover {
    opacity: .8;
    cursor: pointer;
}